{% extends 'employee/base.html' %}
{% block content %}

<form action="create_request" method="post" id="create_request">
    <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <input type="date" id="requestedDate" name="requestedDate" class="form-control" placeholder="Requested Date"/>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <select class="form-select" aria-label="Default select example">
              <option selected>Importance</option>
              <option value="1">High</option>
              <option value="2">Medium</option>
              <option value="3">Low</option>
            </select>
          </div>
        </div>
    </div>
    <div class="form-outline mb-4">
        <textarea class="form-control" id="description" rows="4" placeholder="Descriptions"></textarea>
    </div>
    <button type="submit" class="btn" id="btn_create_request">Create Request</button>
</form>

{% endblock %}