{% extends 'cleaner/base.html' %}
{% block content %}
    <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Date Created</th>
              <th scope="col">Description</th>
              <th scope="col">Requested Date</th>
              <th scope="col">Approved</th>
              <th scope="col">Approved By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
    </table>
{% endblock %}